
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <title>TakeMeAnywhere</title>
  </head>
  <style>
  body{
    font-family:helvetica;
    background-image:url('https://images.adsttc.com/media/images/55e7/1a27/2347/5ddd/1700/147c/large_jpg/jaypee-sports-city_animation-stills_02.jpg?1441208864');
    background-repeat:no-repeat;
   background-size:cover;  
        text-align: center;
        font-size: 20px
    }
  input{
    height: 25px;
    width: 200px;
    font-size:24px;
  }
  select{
    height: 30px;
    width: 200px;
    font-size:24px;
  }
  </style>
  
  <form method="POST">
    <h1 >TakeMeAnywhere</h1><br>
      <h2> Number Of Hours Out?</h2>
      <select name = "num_hrs", method = "POST",id = "hrList">
          <option value = "3">3</option>
          <option value = "4">4</option>
          <option value = "5">5</option>
          <option value = "6">6</option>
          <option value = "7">7</option>
          <option value = "8">8</option>
          <option value = "9">9</option>
          <option value = "10">10</option>
          <option value = "11">11</option>
          <option value = "12">12</option>
          <option value = "13">13</option>
          <option value = "14">14</option>
        </select>
      <h2><label for="meeting-time">Choose a date to start your plan:</label>
      <h2><input type="datetime-local" id="meeting-time"
               name="meeting-time" value="2019-01-13T11:00"
               min="2019-01-13T11:00" max="2019-02-13T00:00">
      <h2>Location</h2>
      <input value="Toronto, ON" name = "loc"><br>
      <h2>Food Pricing</h2>
  <select method = "POST",id = "myList">
    <option value = "1">$</option>
    <option value = "2">$$</option>
    <option value = "3">$$$</option>
    <option value = "4">$$$$</option>
  </select><br><br>
  <input type= "submit">
  </form>
  </body>
</html>
